/* header, game name */
.title {
    font-size: 3.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* names */
.one_person .name {
    text-align: center;
    font-size: 60pt;
    background-color: #242f35;
    margin: 0;
    padding: 15px;
}
/* one throw */
.details .btn {
    width: 90px;
    padding: 10px 10px;
    font-size: 3.5em;
}
/* round score */
.btn-overall {
    background-color: #242f35;
    font-size: 4.2em !important;
    padding: 5px !important;
    font-weight: 500;
}




html {
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family: "Kelly Slab", cursive;
    font-size: 16px;
    background-color: #263238;
    color: #fff8e1;
    position: relative;
    min-height: 100%;
    padding-bottom: 2rem;
    background-color: #1d3c4c;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.no-gutter > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.one_person {
    padding: 4px !important;
}
.active_person {
    outline: 3px #ffd600 solid;
    outline-offset: -4px;
}
.details {
    background-color: #242f35;
}
.details table {
    width: auto;
    margin: auto;
    border-spacing: 4px;
    border-collapse: inherit;
}
.details .table > tbody > tr {
    height: 50px;
}
.details .table > tbody > tr.active {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: transparent transparent transparent #ffd600;
}
.details .table > tbody > tr.active > td {
    background-color: inherit;
}
.details .table > tbody > tr > td,
.details .table > tbody > tr > th,
.details .table > thead > tr > th {
    border: none;
    padding: 0;
}
.details .table > thead > tr > th {
    padding: 0;
}
.btn-default:hover,
.btn-default:active,
.btn-default:active:hover {
    background-color: #3b444b;
    border-color: #3b444b;
}
.btn-default,
.btn-active {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 0;
    background-color: #3b444b;
    color: #fff8e1;
}
.btn {
    outline: 0 !important;
}
.one_person h1 {
    font-size: 4em;
    margin: 0;
}
.btn-missed {
    text-decoration: line-through;
    background-color: #263238;
    color: #9b957f;
    padding-right: 1px;
}
.btn-empty {
    background-color: #263238;
    padding-right: 1px;
}
.btn-double {
    background-color: darkseagreen;
    background-color: #00897B;
}
.btn-triple {
    background-color: indianred;
    background-color: #D3504F;
}
.btn-none {
    background-color: #242f35;
    height: 44px;
}
.name {
    font-family: "Play", sans-serif;
}
.overall_score {
    background-color: #3b444b;
    text-align: center;
    font-size: 75pt;
}

#stat {
    position: fixed;
    bottom: 0;
    right: 0;
    color: yellow;
    font-size: 35pt;
}
#imind {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 6px;
    opacity: 0.8;
}